@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {display: none;}

@keyframes show-feed {
    from {
      opacity: 0;
    }
    to{
      opacity: 1;
    }
}


.home {
    width: 50%; 
    opacity:1
}

.homeClose {
    width: 0%;
    opacity:0;
    transition: all 1.2s ease-out 0.2s;
}

.homeExpand {
    width:100%;
    opacity:0;
    transition: width 1.2s ease-out 0.2s, 
    opacity 1.2s linear 1.2s;
}

.feed{
    opacity:0;
    animation: show-feed 1.2s linear forwards;
}
